{% extends 'misc/base.html' %}

{% block content %}
{% load static%}



    <div class="container people">
        <h3 class="text-center"> YOUR RIDE HAS BEEN BOOKED SUCCESSFULLY</h3>
        <br>

        <h3>Hospital : {{hospital_info.address}}</h3>


        <h3>Driver's Phone Number : {{driver_info.phone}}</h3>
        <h3>Ambulance Number Plate : {{ambulance_info.num_plate}}</h3>  
        <a class="btn btn-primary btn-sm float-right">Completed</a>
        <a class="btn btn-danger float-right btn-sm">Cancel</a> 
        <br>
    </div>



{% endblock %}